doctype html
html(lang='eng')
  head
    meta(charset='uft-8')
    title  Exam 01
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 Exam 01
    #controls
      input#words(type='text', placeholder='put here your text...', autofocus=true)
      button#start
    #grid
      #evens evens
      #odds odds
